body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 1.5rem 0;
}

main {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

h1, h2 {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 1rem;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
}


#informacion-promedios {
  margin-top: 200px; 
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#informacion-promedios h2, 
#informacion-promedios h3, 
#informacion-promedios h4 {
  margin-top: 40px; 
  margin-bottom: 15px; 
}


#informacion-promedios p {
  margin-bottom: 30px; 
  line-height: 1.8; 
}


#informacion-promedios ul, 
#informacion-promedios ol {
  margin-bottom: 40px; 
  padding-left: 20px;
}


#informacion-promedios code {
  background-color: #f4f4f4;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: monospace;
}
